<button (click)="Add()" type="button" class="btn btn-outline-primary float-right">
    <i class="fas fa-plus"></i>
</button>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="text-align: center;"
    class="table table-hover table-bordered w-50 ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let title of Titles">
            <td>{{ title.id }}</td>
            <td>{{ title.titleName }}</td>
            <td>


                <div class="btn-group mt-2" role="group">

                    <button type="button" class="btn btn-outline-primary" (click)="Edit( title)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="Delete( title.id)" type="button" class="btn btn-outline-danger">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </div>





            </td>

        </tr>
    </tbody>
</table>