<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Address</b>Book
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="loginForm" (ngSubmit)="login()" method="post">
                    <div class="input-group mb-3">
                        <input formControlName="username" name="username" class="form-control"
                            placeholder="Enter Your UserName">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                        <div class="validation col-12" *ngIf="loginForm.controls.username.touched">
                            <div *ngIf="loginForm.controls.username.hasError('required')">
                                UserName Required
                            </div>
                            <div *ngIf="loginForm.controls.username.hasError('minlength')">
                                UserName Must be not less than 3 characters
                            </div>
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        <input type="password" formControlName="password" name="password" class="form-control"
                            placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                        <div class="validation col-12" *ngIf="loginForm.controls.password.touched">

                            <div *ngIf="loginForm.controls.password.hasError('required')">
                                Password Required
                            </div>

                            <div *ngIf="loginForm.controls.password.hasError('minlength')">
                                Password Must be not less than 3 characters
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">Sign
                                In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-0">
                    <a [routerLink]="['/register']" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

</div>